node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Firebase
#src/lib/firebase.js
#src/lib/firebase.ts

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*